.header {
  width: 100%;
  height: 5rem;
  background-color: #a892ee;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.main-image {
  width: 100%;
  height: 28rem;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
